{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% bootstrap_javascript jquery='full' %}
{% block extrahead %}

<link href="{% static 'css/user_dashboard.css' %}" rel="stylesheet">

{% endblock extrahead %}

{% block content %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="view-account">
        <section class="module">
            <div class="module-inner">
                <div class="side-bar">
                    <div class="user-info">
                        <img class="img-profile img-circle img-responsive center-block" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                        <ul class="meta list list-unstyled">
                            <li class="name">{{ object.username }}
                                <label class="label label-info">UX Designer</label>
                            </li>
                            <li class="email"><a href="#">Rebecca.S@website.com</a></li>
                            <li class="activity">Last logged in: Today at 2:18pm</li>
                        </ul>
                    </div>
            		<nav class="side-menu">
        				<ul class="nav nav-tabs">
        					<li class="active"><a data-toggle="tab" href="#tab1"><span class="fa fa-user"></span> Profile</a></li>
        					<li><a data-toggle="tab" href="#tab2"><span class="fa fa-cog"></span> Settings</a></li>
        					<li><a data-toggle="tab" href="#tab3"><span class="fa fa-credit-card"></span> Billing</a></li>
        					<li><a data-toggle="tab" href="#"><span class="fa fa-envelope"></span> Messages</a></li>
        					
        					<li><a data-toggle="tab" href="user-drive.html"><span class="fa fa-th"></span> Drive</a></li>
        					<li><a data-toggle="tab" href="#tab5"><span class="fa fa-clock-o"></span> Delete Account</a></li>
        				</ul>
        			</nav>
                </div>
                <div class="tab-content content-panel">
                  <h2 class="title">Profile<span class="pro-label label label-warning">PRO</span></h2>
                    <div id="tab1" class="tab-pane active">
                    <form class="form-horizontal">
                        <fieldset class="fieldset">
                            <h3 class="fieldset-title">Personal Info</h3>
                            <div class="form-group avatar">
                                <figure class="figure col-md-2 col-sm-3 col-xs-12">
                                    <img class="img-rounded img-responsive" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                                </figure>
                                <div class="form-inline col-md-10 col-sm-9 col-xs-12">
                                    <input type="file" class="file-uploader pull-left">
                                    <button type="submit" class="btn btn-sm btn-default-alt pull-left">Update Image</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-12 control-label">User Name</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" value="Rebecca">
                                </div>
                            </div>
        
                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-12 control-label">First Name</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" value="Rebecca">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-12 control-label">Last Name</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" value="Sanders">
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="fieldset">
                            <h3 class="fieldset-title">Contact Info</h3>
                            <div class="form-group">
                                <label class="col-md-2  col-sm-3 col-xs-12 control-label">Email</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input type="email" class="form-control" value="Rebecca@website.com">
                                    <p class="help-block">This is the email </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2  col-sm-3 col-xs-12 control-label">Twitter</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" value="SpeedyBecky">
                                    <p class="help-block">Your twitter username</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2  col-sm-3 col-xs-12 control-label">Linkedin</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input type="url" class="form-control" value="https://www.linkedin.com/in/lorem">
                                    <p class="help-block">eg. https://www.linkedin.com/in/yourname</p>
                                </div>
                            </div>
                        </fieldset>
                        <hr>
                        <div class="form-group">
                            <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
                                <input class="btn btn-primary" type="submit" value="Update Profile">
                            </div>
                        </div>
                    </form>
                </div>
                <div id="tab2" class="tab-pane fade">
                </div>
                <div id="tab3" class="tab-pane fade">
                </div>
                <div id="tab4" class="tab-pane fade">
                </div>
                <div id="tab5" class="tab-pane fade">
                  <div class="card text-center profile-card">
                  <h5 class="card-header">Delete Account</h5>
                  <div class="card-body">
                  <p class="card-text">Use the below link to delete your account</p>
                  <p class="card-text"><span class="text-danger">Remember that this is permanent!!!</span></p>
                  <a href="{% url 'users:delete' object %}" class="btn btn-danger btn-lg">Delete</a>
                </div>
          </div>
                </div>
              </div>  
            </div>
        </section>
    </div>
</div>
<div class="row">
<div class="card">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
        <h3 style="text-center">{% block title %}Hey {{ object.username }}!{% endblock %}</h3>
    </div>    
</div>
<div class="row">
    <div class="col-lg-12">
      {% if object.name and object.profile_pic %}
        <p><img src="{{ object.profile_pic.url }}" /> {{ object.name }}</p>
      {% elif object.name %}
        <p>{{ object.name }}</p>  
      {% endif %}
      
    </div>
  </div>
  </div>

{% if object == request.user %}
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="card text-center w-40 profile-card">
              <h5 class="card-header">Profile</h5>
              <div class="card-body">
                <p class="card-text">Use the below link to edit your profile</p>
                <a href="{% url 'users:update' %}" class="btn btn-md btn-info btn-lg">Edit</a>
              </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card text-center w-0 profile-card">
            <h5 class="card-header">Change Password</h5>
            <div class="card-body">
                <p class="card-text">Use the below link to change your password</p>
               
                <a href="{% url 'account_reset_password' %}" class="btn btn-info btn-lg">Edit</a>
            </div>
          </div>
        </div>
      </div>
{% if object.serviceproviders %}    
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="card text-center profile-card">
            <h5 class="card-header">Provider Profile</h5>
              <div class="card-body">
                <p class="card-text">Go to your Provider Dashboard</p>
                <a href="{% url 'providers:dash' object.serviceproviders.pk %}" class="btn btn-md btn-info btn-lg">Go</a>
              </div>
          </div>
        </div>          
{% endif %}
        <div class="col-lg-6">
          <div class="card text-center profile-card">
            <h5 class="card-header">Delete Account</h5>
            <div class="card-body">
              <p class="card-text">Use the below link to delete your account</p>
              <p class="card-text"><span class="text-danger">Remember that this is permanent!!!</span></p>
              <a href="{% url 'users:delete' object %}" class="btn btn-danger btn-lg">Delete</a>
            </div>
          </div>
        </div>
    </div>
</div>
<div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="card text-center profile-card">
            <h5 class="card-header">Messages</h5>
              <div class="card-body">
                <p class="card-text">Manage your messages</p>
                <a href="{% url 'postman:inbox' %}" class="btn btn-md btn-info btn-lg">Messages</a>
              </div>
          </div>
        </div>
  
        <div class="col-lg-6">
          <div class="card text-center profile-card">
            <h5 class="card-header">Requests</h5>
              <div class="card-body">
                <p class="card-text">View service requests you have made</p>
                <a href="" class="btn btn-md btn-info btn-lg">Go</a>
              </div>
          </div>
        </div>
      </div>
    </div>        
{% endif %}
{% for req in object.providerrequests_set.all %}
      {{ req.start_date }}
    {% endfor %}  
{% endblock %}
