{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}


{% block content %}
<div class="row">
<div class="card>
    <div class="col-sm-12 col-md-8 col-md-offset-2">
        <h1>{% block title %}Hey {{ object.username }}!{% endblock %}</h1>
    </div>    
</div>
<div class="row">
    <div class="col-lg-12">
      {% if object.name and object.profile_pic %}
        <p><img src="{{ object.profile_pic.url }}" /> {{ object.name }}</p>
      {% elif object.name %}
        <p>{{ object.name }}</p>  
      {% endif %}
      <p>{{ object.test }}
    </div>
  </div>
  </div>

{% if object == request.user %}
    <div class="container">
        <div class="row">
                <div class="card text-center w-100 profile-card">
                <h5 class="card-header">Edit Profile</h5>
                <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="{% url 'users:update' %}" class="btn btn-md btn-info">Edit</a>
                </div>
        </div>
    </div>
    <div class="container">    
        <div class="row">
                <div class="card text-center w-100 profile-card">
                <h5 class="card-header">Change Password</h5>
                <div class="card-body">
                <p class="card-text">Use the below link to change your password</p>
                <p class="card-text">Remember to use a secure password!</p>
                <a href="{% url 'account_reset_password' %}" class="btn btn-info btn-lg">Edit</a>
                </div>
        </div>
    </div>
{% if object.serviceproviders %}    
    <div class="container">
        <div class="row">
                <div class="card text-center w-100 profile-card">
                <h5 class="card-header">Provider Profile</h5>
                <div class="card-body">
                <p class="card-text">Use the below button to edit your Provider profile</p>
                <a href="{% url 'providers:test' object.serviceproviders.pk %}" class="btn btn-md btn-info">Edit</a>
                </div>
        </div>
    </div>
{% endif %}    
        <div class="col-sm-9 col-md-6">
        {% block usercontent %}{% endblock %}
        </div>
</div>
{% endif %}
{% endblock %}
