



// project specific CSS goes here

////////////////////////////////
		//Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;
$champagne: #F2EDE3;
////////////////////////////////
		//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error
body {
  background-color: $champagne;
}

.profile-card {
  margin: 20px;
  padding: 10px;
}

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}


// Vertical tabs for profile pages
.nav.nav-tabs {
  float: left;
  display: block;
  margin-right: 20px;
  border-bottom:0;
  border-right: 1px solid #ddd;
  padding-right: 15px;
}
.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  background: #ccc;
}

.nav-tabs .nav-link.active {
  color: #495057;
  background-color:#007bff !important;
  border-color: transparent !important;
}
.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0rem!important;
  border-top-right-radius: 0rem!important;
}
.tab-content>.active {
  display: block;
  background: #007bff;
  min-height: 165px;
}
.nav.nav-tabs {
  float: left;
  display: block;
  margin-right: 20px;
  border-bottom: 0;
  border-right: 1px solid transparent;
  padding-right: 15px;
}