{% load static i18n %}
{% load bootstrap4 %}


<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://drive.google.com/uc?export=view&id=1kJwtgCaapLP2jTaxCR4BAFiEAWSo5_P9" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3">Introducing Grbe!</h1>
        <p class="lead mb-0">Your end-to-end platform for all things beauty and grooming</p>
      </div>
    </div>
  </div>
</header>
