{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}

{% block title %}User: {{ object.user_info.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.user_info.username }}</h2>
      {#% if object.name %#}
        <p>{{ object.about_me }}</p>
      {#% endif %#}
      <p>{{ object.test }}
      <p>{{ request.user }}</p>
      <p>{{ object.user_info.username }}</p>
    </div>
  </div>
   <form class="form-horizontal" method="post" >
    {% csrf_token %}
    <div class="contianer">
        <div class="form-row align-items-center">
            {% bootstrap_form form %}
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">Update</button>
                </div>
            </div>
        </div>
    </div>        
    
  </form>
  
{% if request.user == object.user_info %}  

<div class="container">
<!-- Action buttons -->
  <div class="row">

    <div class="col-sm-12">
      <a class="btn btn-primary" href="{% url 'providers:provider_view' object.user_info_id %}" role="button">My Info</a>
      <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
      <!-- Your Stuff: Custom user template urls -->
    </div>
  </div>
</div>
<h2>{{ object.about_me }}</h2> 
<!-- End Action buttons -->
{% elif request.user != object.user_info %}
<h2>Not the user</h2>
{% endif %}
</div>
{% endblock content %}

